.home {
  min-height: 100vh;
  background-color: rgb(161, 101, 217);
  color: black;  
}
.tittle{
  margin: auto;
  text-align: center;
  padding: 2%;
}
.homeBody {
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5;
}

.contentBox{
  display: flex;
  flex-direction: column;
  padding: 5%;
  border-style: groove;
  border-color: aliceblue;
  background-color: black;
}
.active {
  opacity: 0;
}

.card {
  margin: auto;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  
}
